.linechartComponent {
    display: flex;
    background-color: red;
    border-radius: 5px;
    overflow: hidden;
    max-width: 31%;
    max-height: 100%;
    margin: 0 10px;
    &__container {
      flex-grow: 1;
      display: flex;
      width: 100% !important;
      height: 100% !important;
      max-height: none !important;
      max-width: none !important;
    }
    &__line {
      stroke-width: 2px;
      fill: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0.11) 100%);
      opacity: 1;
    }
  }
  
  .linechart__tooltip {
    display: flex;
    background-color: #ffffff;
  }
  
  .label {
    display: flex;
    background-color: #ffffff;
    color: black;
    font-size: 1.2vh;
    padding: 0.75rem 1rem;
  }
  
  .legend__linechart {
    display: flex;
    color: white;
    opacity: 0.5;
    font-size: 0.6rem;
    font-weight: 550;
    position: absolute;
    font-weight: bold;
    font-size: 1.2vh;
    margin-top: 10%;
    margin-left: 10%;
    top: 0px;
    left: 0px;
  }