.main__details__page {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.full__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 5%;
}

@media (max-width: 750px) {
  .full__content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .main__details__page {
    margin: 0 20px;
  }
}
