.tag {
    display:flex;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.7em;
    background-color: #ff6060;
    color: white;
    text-align:center;
    justify-content:center;
    align-items:center;
    text-wrap:nowrap;
  }