.pieChartComponent {
  background-color: #fbfbfb;
  border-radius: 15px;
  overflow: hidden;
  max-width: 158px;
  max-height: 158px;
  margin: 0 10px;
}

.legendPiechart {
  position: absolute;
  font-weight: bold;
  font-size: 1.2vh;
  margin-top: 10%;
  margin-left: 10%;
}

.labelScore {
  font-size: 3.5vh;
  font-weight: bold;
}

.scoringText {
  outline: none;
}

.bar {
  outline: none;
}

.labelText {
  font-size: 1.5vh;
  font-weight: 600;
  fill: #ffffff;
}
